@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    cursor:default;
    font-size: 50px;
    line-height: 64px;
    color:rgb(255, 255, 255)
}

h2 {
    cursor:default;
    font-size: 46px;
    line-height: 54px;
    color:#714288;
}


h4 {
    cursor:default;
    font-family:sans-serif;
    font-size: 40px;
    color: #714288;
    
}

h6 {
    cursor:default;
    font-weight: 700;
    font-size: 12px;

}

p {
    font-size: 18px;
    color: #714288;
    margin: 15px 0 20px 0;
    cursor:default;
}

.section-p1 {
    padding: 40px 80px;

}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color:black;
    background-color:#E3E6F3;
    border-radius: 4px;
    cursor:pointer;
    border:none;
    outline:none;
    transition: 0.2s;

}

body {
    width: 100%;
}

/* header start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20 px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px #714288;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img.logo{
    display: flex;
    margin-left: 40px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 75px 0 75px;

}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color:#714288
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #714288;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Home page */
#hero{
    background-image: url("img/hero1.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #52bd72;
}

#hero button{
    /*background-image: url("img/button.png");*/
    background-color: transparent;
    color: #714288;
    border: 0;
    font-size:xx-large;
    cursor: pointer;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 34p rgba(0, 0, 0, 0.3);
    border: 2px solid #714288;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 45px rgb(221, 169, 231);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #714288;
    background-color: #E3E6F3;
    
}

/*#feature .fe-box h6 {
    cursor: pointer;
}*/

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #714288;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 35px rgba(233, 107, 245, 0.2);
    margin: 15px 0;
    position: relative;
   
}

#product1 .pro:hover {
    box-shadow: 20px 20px 35px rgba(233, 107, 245, 0.2);
    
}


#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color:#714288;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    padding-top: 7px;
    font-size: 12px;
    color:rgb(255, 217, 0);
    
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .cart {
    /*width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#E3E6F3;
    font-weight: 500;
    color:#714288;
    border: 1px solid #714288;*/
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-image: url("img/banner/b5.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position:center;

}

#banner h4{
    color: black;
    font-size: 35px;
    /*padding-bottom: 15px;*/
    
}

#banner h2{
    color: black;
    font-size: 40px;
    padding: 20px 0;
    
}

#banner h2 span{
    color: rgb(196, 5, 69);
    
}

#banner button:hover{
    background: #533064;
    color: white;

}